@using Templetotemo101Saleh.ViewModels.ProductViewModels
@model List<ProductGetVM>



<div class="containe">

	<div class="row">
        <div class="col-2">

        <a class="btn btn-succes" asp-action="Create">Create </a>

        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    
                <tr>
                    <th scope="row">@product.Id</th>
                    <td> <img  src="~/assets/image/@product.ImagePath" />> </td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.CategoryName</td>
                    <td>@product.Price</td>
                    <td>@product.Rating</td>
                    <td>
                       <a asp-action="Update"asp-route-id="@product.Id" class="btn btn-warning"  >Update</a>
                       <a asp-action="Update"asp-route-id="@product.Id"  class="btn btn=danger" >Delete</a>
                    </td>
                    
                </tr>
                }
                
            </tbody>
        </table>


	</div>
</div>



